@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    --color:hsl(0, 0%, 100%);
    --color1:hsl(0, 100%, 98%);
    --color2:hsl(0, 80%, 86%);
    --color3:hsl(0, 74%, 74%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-color: var(--color1);
    background-image: url(images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    height: 90.8vh;
}

main{
    display: flex; 
    margin: 60px 0px 0px 140px;
}

h1{
    letter-spacing: 7px;
    margin-top: 120px;
    font-size: 60px;
    margin-bottom: 0;
}

span{
    font-weight: 300;
    color: var(--Desaturated-Red);
}
.top{
    display: block;
}

.foto-mulher{
    display: none;
}

p{
    color: var(--Desaturated-Red);
    width: 400px; 
}

#email{
    border: 1px solid var(--color2);
    border-radius: 40px;
    padding: 15px;
    padding-left: 20px;
    width: 350px;
    outline: unset;
    
}

#emial::placeholder{
    color: var(--Dark-Grayish-Red);
}

#email:focus-within{
    border: 1px solid var(--color2);

}

.submit{
    background-image: linear-gradient( to left, var(--color3),var(--color2) );
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    right: 70px;
    top: 20px;
    width: 90px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.seta{
    position: relative;
    right: 125px;
    top: 7px;
    cursor: default;
}

.submit:hover{
    background: var(--color3);
    box-shadow: 0px 0px 8px var(--color3);
}


@media (max-width: 1200px){
    main{
        display: flex;
        margin: 60px 0px 0px 70px;
    }

    form{
        margin-bottom: 50px;
    }
}

@media (max-width: 1020px){

    main{
        display: grid; 
        margin: 60px 0px 0px 0px;
        place-items: center;
    }

    body{
        background-image: none;
    }

    h1{
        margin-top: 60px;
    }

    .logo{
        margin: 0px 0px 30px 20px;
    }

    .foto-mulher{
        width: 600px;
        margin: auto 0;
        display: grid;
        place-items: center;
    }
}

@media (max-width: 650px){

    h1{
        letter-spacing: 7px;
        font-size: 60px;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    p{
        width: 80vw;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }

    .foto-mulher{
        width: 97vw;
    }

    #email{
        width: 250px;
    }

    form{
        margin: auto;
        display: grid;
        place-items: center;
    }

    .seta{
        position: relative;
        left: 100px;
        top: -82px;
        
    }

    .submit{
        position: relative;
        left: 100px;
        top: -49px;
    }

}

@media (max-width: 500px){

    main{
        display: grid; 
        margin: 0px 0px 0px 0px;
        place-items: center;
    }

    .logo{
        margin: 40px 0px 30px 20px;
    }

    .foto-mulher{
        width: 95.5vw;
        display: grid;
        place-items: center;
        margin: 0 ;
    }

    
}